@font-face {
  font-family: "Day Roman";
  src: url("../fonts/day-roman.regular-webfont.woff2") format("woff2"),
    url("../fonts/day-roman.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --background--dark: #07031a;
  --accent--color: #e84a5f;
  --light--color: #fdfdfd;
  --white--color: #fff;
  --ff--primary: "Poppins", sans-serif;
  --ff--secondary: "Day Roman", sans-serif;
}

::-webkit-input-placeholder {
  color: var(--accent--color);
  font-size: 1.333rem;
}

::-moz-placeholder {
  color: var(--accent--color);
  font-size: 1.333rem;
}

:-ms-input-placeholder {
  color: var(--accent--color);
  font-size: 1.333rem;
}

:-moz-placeholder {
  color: var(--accent--color);
  font-size: 1.333rem;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--background--dark);
}

main {
  display: block;
}

.converter {
  display: grid;
  grid-template-columns: minmax(0, 250px) 1fr minmax(0, 250px);
}

.left-side,
.right-side {
  height: 100vh;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 100vh 100vh;
}

.left-side {
  background-image: url(../img/left-roman-column.svg);
  background-position: 70%;
}

.right-side {
  background-image: url(../img/right-roman-column.svg);
  background-position: 32%;
}

.container {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.converter__header {
  margin: 0;
  color: var(--light--color);
  font-size: 2.369rem;
  font-weight: normal;
  line-height: 1.2;
}

label {
  color: var(--accent--color);
}

.converter__data {
  display: grid;
  grid-template-areas: "input" "sign" "result";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 25px minmax(25px, auto);
  grid-gap: 10px;
  align-items: center;
  position: relative;
}

.converter__data-input {
  grid-area: input;
  position: relative;
}

.equal-sign {
  grid-area: sign;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.333rem;
  color: var(--light--color);
}

.converter__result {
  grid-area: result;
  font-size: 1.333rem;
  padding: 15px;
  font-family: var(--ff--secondary);
  color: var(--accent--color);
  word-break: break-all;
  overflow-y: auto;
  height: 100px;
}

.converter__result::-webkit-scrollbar {
  width: 12px;
}
.converter__result {
  scrollbar-width: thin;
  scrollbar-color: var(--accent--color) var(--light--color);
}
.converter__result::-webkit-scrollbar-track {
  background: var(--light--color);
}
.converter__result::-webkit-scrollbar-thumb {
  background-color: var(--accent--color);
}

.converter__input {
  -moz-appearance: textfield;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 1.1em 0.7em;
  font-size: 1.333rem;
  font-family: var(--ff--primary);
  text-align: center;
  line-height: 1.15;
  border: none;
  background-color: transparent;
  color: var(--white--color);
  background: linear-gradient(to right, var(--white--color) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(var(--white--color) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(to right, var(--white--color) 50%, rgba(255, 255, 255, 0) 0%),
    linear-gradient(var(--white--color) 50%, rgba(255, 255, 255, 0) 0%);
  background-position: top, right, bottom, left;
  background-repeat: repeat-x, repeat-y;
  background-size: 10px 1px, 1px 10px;
}

.close-btn {
  -webkit-appearance: none;
  position: absolute;
  right: 10px;
  top: 22px;
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--white--color);
}

.close-btn span {
  font-size: 1.5rem;
  text-shadow: 0 1px 0 var(--white--color);
}

.date {
  padding-bottom: 1rem;
}

.date__numeral {
  font-size: 1rem;
  color: var(--light--color);
}

.arrow-sign {
  color: var(--light--color);
}

.date__roman {
  font-size: 1rem;
  font-family: var(--ff--secondary);
  color: var(--accent--color);
}

@media (min-width: 768px) {
  ::-webkit-input-placeholder {
    font-size: 2.369rem;
  }

  ::-moz-placeholder {
    font-size: 2.369rem;
  }

  :-ms-input-placeholder {
    font-size: 2.369rem;
  }

  :-moz-placeholder {
    font-size: 2.369rem;
  }

  .converter__header {
    font-size: 3.157rem;
  }

  .converter__data {
    grid-template-rows: 80px;
  }

  .converter__input {
    padding: 1rem;
    font-size: 2.369rem;
  }

  .equal-sign {
    font-size: 2.369rem;
  }

  .converter__result {
    font-size: 2.369rem;
  }
}

@media (min-width: 1200px) {
  .converter__data {
    grid-template-areas: "input sign result";
    grid-template-columns: minmax(0, 800px) minmax(0, 45px) minmax(0, 300px);
    margin: 0 auto;
  }

  .equal-sign {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.github-corner {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.2;
  transition: opacity 0.25s ease-in-out;
}

.github-corner:hover {
  opacity: 0.7;
}

[hidden="true"] {
  display: none;
}

[hidden="false"] {
  display: block;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
